

<mat-card class="champions-list-container">
  <mat-card-title class="list-title">World F1 Champions</mat-card-title>
  <mat-card-content class="champions-list-content">
    <div class="loading-spinner" *ngIf="loading">
        <mat-spinner color="warn"></mat-spinner>        
    </div>
    <mat-nav-list class="table-container champions-list" *ngIf="!loading">
      <table class="table table-hover table-responsive">
          <thead>
            <td>Season</td>
            <td>Champion driver</td>
          </thead>
          <tbody>
            <tr *ngFor="let champion of championsList"
            [ngClass]="{'selected-champion': champion.driverData.driverId === selectedDriver.driverData.driverId && champion.season === selectedDriver.season }"
            (click)="onChampionSelection(champion)" mat-list-item>
              <td>{{ champion.season }}</td>
              <td>{{ champion.driverData.givenName }} {{ champion.driverData.familyName }}</td>
            </tr>
          </tbody>
      </table>
    </mat-nav-list>
  </mat-card-content>
</mat-card>