


:host {
    display: flex;
    flex: 1;
  }
  
  .champions-list-container {
    display: flex;
    flex: 1;
    margin: 10px;
    flex-direction: column;
    padding: 0;
    background: transparent;
  }
  
 
  
  .champions-list-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .champions-list {
    padding-top: 0;
  }
  
  .championship-year {
    font-weight: bold;
  }
  
  .champions-list-content {
    min-height: 350px;
    padding: 0;
  }
  
  .selected-champion {
    background: #a98181;
    position: relative;
    
  }
  .selected-champion:after{
    content: "\f0da";
    font-family: 'FontAwesome';
     position: absolute;
        right: 40px;
        margin-top: 5px; font-size: 20px;
  }
  
  .loading-spinner {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

