<mat-card class="season-results-container">
  <mat-card-title class="list-title" *ngIf="seasonResults.season !== 0">Season {{ seasonResults.season }} Race winners</mat-card-title>
  
  <mat-card-content class="season-results-content">
    <div class="no-results-message" *ngIf="seasonResults.races.length === 0">
      <h2>Select a driver to check the season results</h2>
    </div>
    <mat-list class="season-results-list table-container" *ngIf="seasonResults.races.length > 0">
      <table class="table table-responsive">
        <thead>
          <td>Round</td>
          <td>Circuit</td>
          <td>Champion driver</td>
        </thead>
        <tbody>
          <tr *ngFor="let race of seasonResults.races">
            <td>#{{ race.round }}</td>
            <td>{{ race.raceName }}</td>
            <td [ngClass]="{'season-champion': race.winner.driverId === championData.driverId}">
              {{ race.winner.givenName }} {{ race.winner.familyName }}
              <span class="badge pull-right ng-scope" *ngIf="race.winner.driverId === championData.driverId">
                <i class="fa fa-trophy" aria-hidden="true"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-list>
    <mat-paginator [length]="seasonResults.totalItems"
                   [pageSizeOptions]="options.pageSizeOptions"
                   *ngIf="seasonResults.races.length > 0"
                   (page)="pageChanged($event)"></mat-paginator>
  </mat-card-content>
</mat-card>




