<mat-toolbar class="header-mat">
  <a href="/" class="brand-logo"></a>
</mat-toolbar>
<div class="main-content">
  <app-driver-list [championsList]="champions"
                      [loading]="loadingChampionsList"
                      [selectedDriver]="selectedDriver"
                      (championSelected)="selectChampion($event)">
  </app-driver-list>
  <app-season-results [seasonResults]="seasonResults"
                      [options]="seasonResultsOptions"
                      [championData]="selectedDriver.driverData"
                      (paginatorChanged)="updateSeasonResultsSize($event)"></app-season-results>
</div>
