

.brand-logo{
  background-image: url('../assets/images/brand-logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  width:160px;
  height: 40px;
  margin: 0 auto;
}

.main-content {
  display: flex;
  flex: 1;
  max-width:1200px;
  margin:0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header-mat{
  background-color: rgba(47,47,45,.89);
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
}